LoginClient_991396063/BusOperationsClient_991396063/Connected Services/DBOperationServiceReference/BusService_991396063.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusService_991396063" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_AuthenticateUserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FinalBusService_991396063" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DBOperationsService_InsertABus_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertABus" />
  </wsdl:message>
  <wsdl:message name="DBOperationsService_InsertABus_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertABusResponse" />
  </wsdl:message>
  <wsdl:message name="DBOperationsService_RetrieveBusInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBusInfo" />
  </wsdl:message>
  <wsdl:message name="DBOperationsService_RetrieveBusInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveBusInfoResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="DBOperationsService">
    <wsdl:operation name="InsertABus">
      <wsdl:input wsaw:Action="http://tempuri.org/DBOperationsService/InsertABus" message="tns:DBOperationsService_InsertABus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBOperationsService/InsertABusResponse" message="tns:DBOperationsService_InsertABus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveBusInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/DBOperationsService/RetrieveBusInfo" message="tns:DBOperationsService_RetrieveBusInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/DBOperationsService/RetrieveBusInfoResponse" message="tns:DBOperationsService_RetrieveBusInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AuthenticateUserService">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/AuthenticateUserService/AuthenticateUser" message="tns:AuthenticateUserService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AuthenticateUserService/AuthenticateUserResponse" message="tns:AuthenticateUserService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_DBOperationsService" type="tns:DBOperationsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertABus">
      <soap:operation soapAction="http://tempuri.org/DBOperationsService/InsertABus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveBusInfo">
      <soap:operation soapAction="http://tempuri.org/DBOperationsService/RetrieveBusInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_AuthenticateUserService" type="tns:AuthenticateUserService">
    <wsp:PolicyReference URI="#NetTcpBinding_AuthenticateUserService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUserService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusService_991396063">
    <wsdl:port name="BasicHttpBinding_DBOperationsService" binding="tns:BasicHttpBinding_DBOperationsService">
      <soap:address location="http://localhost:8080/BusService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_AuthenticateUserService" binding="tns:NetTcpBinding_AuthenticateUserService">
      <soap12:address location="net.tcp://localhost:8090/BusService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/BusService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PRABHJOT-DESKTO\prabh</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>