LoginClient_991396063/BusOperationsClient_991396063/Connected Services/DBOperationServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FinalBusService_991396063" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinalBusService_991396063" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusId" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusInfo" nillable="true" type="tns:BusInfo" />
  <xs:complexType name="ArrayOfBusInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusInfo" nillable="true" type="tns:BusInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusInfo" nillable="true" type="tns:ArrayOfBusInfo" />
</xs:schema>